body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /*Altura*/
    margin:0; 
}
.card {
    width:300px; /*Largura*/
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 8px;
    box-shadow: 0 30px 30px rgba(0,0,0,0.3);

    text-align: center;
}
.profile-pic {
    width: 300px;
    height: 250px;
    border-radius: 50%;     
    margin-bottom: 20px;
    objetct-fit: cover;
}
about-me{
    text-align: left;
}